/* reset post content font size */
.post-title {
  font-size: 2em;
  margin-top: 6px;
  margin-bottom: 8px;
}

.post-content h1 {
  font-size: 2em;
}

.post-content h2 {
  font-size: 1.8em;
}

.post-content h3 {
  font-size: 1.6em;
}

.post-content h4 {
  font-size: 1.4em;
}

.post-content h5 {
  font-size: 1.2em;
}

.post-content h6 {
  font-size: 1em;
}