/* reset post content font size */
.post-title {
  font-size: 28px;
}

.post-content h1 {
  font-size: 26px;
}

.post-content h2 {
  font-size: 24px;
}

.post-content h3 {
  font-size: 18px;
}

.post-content h4 {
  font-size: 16px;
}

.post-content h5 {
  font-size: 14px;
}

.post-content h6 {
  font-size: 12px;
}